# Node modules
node_modules/

# Build output
build/
dist/

# Logs
*.log

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/editor folders
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Jest snapshot files
coverage/

# eslint cache
.eslintcache

# Parcel cache (if using Parcel)
.cache/

# React Native specific
.expo/
